# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle/
gradle/
!gradle/wrapper

# other
eclipse
run
src/generated/resources/.cache

# Files from Forge MDK
forge*changelog.txt

# VScode
.vscode