name: Railcraft CI

on:
  push:
    branches:
    - 1.20.x
  pull_request:
    branches:
    - 1.20.x
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          cache-read-only: false
          arguments: build

      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          cache-read-only: false
          arguments: runGameTestServer

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Railcraft-1.20.x-GitHub
          path: build/libs
